.gameDetailsContainer, .userGameContainer {
    max-width: 896px;
    margin: 0 auto;

    .gameDataSectionTitle {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    
    mat-chip {
        font-weight: 600;
        cursor: pointer;
    }
}

.gameDetailsContainer {
    .gameBoxartContainer {
        position: relative;

        .gameEditButton {
            left: 0;
            top: 0;
            position: absolute;
        }

        .gameAddButton {
            right: 0;
            top: 0;
            position: absolute;
        }
    }

    .gameDataContianer {
        margin-bottom: auto;
        
        .gameDataSection:not(:last-child) {
            margin-bottom: 16px;
        }

        .gameDataName {
            font-weight: 600;
            font-size: 24px;

            span {
                font-style: italic;
            }
        }

        .gameDataGenresContainer {
            padding: 0 16px;

            .gameDataSectionTitle {
                margin-left: -16px;
            }

            mat-chip-list /deep/ .mat-chip-list-wrapper {
                place-content: stretch space-evenly;
                align-items: stretch;
                flex-direction: row;
                box-sizing: border-box;
                display: flex;
            }
        }

        .slashDivider {
            font-size: 38px;
            line-height: 26px;
            margin-left: 16px !important;
        }

        .gameDataPlatform, .gameDataRegion {
            img:not(:first-child){
                cursor: pointer;
            }
        }

        .gameDataPlatform {
            .gameDataPlatforms * {
                margin: 8px 0;
            }

            img {
                width: 96px;
            }
        }

        .gameDataRegion {
            img {
                width: 48px;
                margin-left: 16px;
            }
        }
    }
}

.userGameContainer {
    margin-bottom: 16px;

    .userGameDataSection {
        .userGameDataContainer {
            padding: 0 16px;

            .userGameSection:not(:last-child) {
                margin-bottom: 8px;
            }

            mat-chip {
                margin-left: 16px;
            }
        }
    }
}

.userGameDetailsDialogContent {
    .userGameForm {
        mat-form-field {
            width: 100%;
        }
    }
}

.mat-dialog-actions {
    padding-bottom: 24px !important;
}

@media screen and (min-width: 769px) {
    .gameDetailsContainer, .userGameContainer {
        padding: 24px;

        .gameBoxart {
            max-width: 256px;
            min-width: 256px;
        }
    
        .gameDataContianer {
            margin-left: 36px;

            .gameDataPlatform {    
                img {
                    margin-left: 16px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .gameDetailsContainer, .userGameContainer {
        padding: 16px;
    }

    .gameDetailsContainer {
        flex-direction: column !important;

        .gameBoxart {
            width: calc(100vw - 32px);
            max-width: 320px;
        }
    
        .gameDataContianer {
            width: 100%;
            margin-top: 16px;
        }

        .gameDataPlatform {
            .gameDataPlatforms {
                place-content: center space-evenly !important;
            }
        }
    }

    .userGameContainer {
        .userGameTypeSection > mat-form-field {
            width: 100%;
        }
    }
}

@media screen and (max-width: 568px) {
    .gameDetailsContainer, .userGameContainer {
        padding: 12px;
    }
}