mat-progress-bar {
    z-index: 100;
    position: fixed;
    top: 0;
}

@media screen and (min-width: 769px) {
    /deep/ .mat-dialog-toolbar {
        width: 480px;
        height: 538px;
        max-width: 90vw !important;
        max-height: 90vh !important;
    
        mat-dialog-container {
            padding: 0px !important;

            .dialog-toolbar-content {
                padding: 16px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    /deep/ .mat-dialog-toolbar {
        width: 100vw;
        max-width: 100vw !important;
        height: 100vh;
        max-height: 100vh !important;
    
        mat-dialog-container {
            padding: 0px !important;

            .dialog-toolbar-content {
                padding: 16px;
            }
        }
    }
}