<div class="mainContainer">
    <button class="searchButton" mat-icon-button (click)="openSearchDialog()"><mat-icon>search</mat-icon></button>
    <ng-container *ngIf="searchType == 'user'; else elseType">
        <div clas="userCardList" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <app-user-card [user]="user" *ngFor="let user of userFiltered"></app-user-card>
        </div>
    </ng-container>
    <ng-template #elseType>
        <div clas="gameCardList" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <img class="gameCard" [ngClass]="{'collectorsEdition': game.collectors_edition}" *ngFor="let game of getGameList()" [src]="gameMeth.getGameImage(game)" [alt]="game.name" [matTooltip]="game.name" [routerLink]="['/', game.game_code]">
        </div>
    </ng-template>
</div>