<!-- <div class="card-columns">
    <div class="card">
        <img src="assets/image/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
</div> -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="start" fxLayout="column" class="sidenavMenu">
    <div></div>
  </mat-sidenav>

  <mat-sidenav-content id="wrapper">
      <mat-toolbar color="primary" class="mat-elevation-z1 toolbarComputer" fxHide.lt-md>
          <mat-toolbar-row>
              <button mat-icon-button class="menu-button" (click)="sidenav.open()"><mat-icon>menu</mat-icon></button>

              <span class="toolbar-separator"></span>

              <img src="/assets/img/logo.png" srcset="/assets/img/logo.png" style="height: 40px">

              <span class="toolbar-separator"></span>

              <button mat-icon-button matTooltip="Iniciar sesión">
                  <mat-icon matBadgeColor="primary">supervised_user_circle</mat-icon>
              </button>
          </mat-toolbar-row>
      </mat-toolbar>
      <div class="routerOutlet">
          <router-outlet></router-outlet>
      </div>
      <a mat-fab color="accent" matTooltip="Añadir juego" class="matFabAdd">
          <mat-icon>add</mat-icon>
      </a>
  </mat-sidenav-content>
</mat-sidenav-container>