<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" position="start" fxLayout="column" class="sidenavMenu">
        <app-sidenav [snav]="sidenav"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content id="wrapper">
        <mat-toolbar color="primary" class="mat-elevation-z1">
            <mat-toolbar-row>
                <button mat-icon-button class="menu-button" (click)="sidenav.open()" *ngIf="authUser"><mat-icon>menu</mat-icon></button>

                <span class="toolbar-separator"></span>

                <img src="/assets/img/logo.png" srcset="/assets/img/logo.png" class="appLogo" [routerLink]="['/']">

                <span class="toolbar-separator"></span>

                <button mat-icon-button [matTooltip]="authUser ? 'Cerrar sesión' : 'Iniciar sesión'" [routerLink]="['/login']" (click)="authUser ? authService.logout() : null">
                    <mat-icon matBadgeColor="primary">{{authUser ? 'exit_to_app' : 'supervised_user_circle'}}</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="routerOutlet">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>